body{
    height: 100vh;
    -webkit-user-drag: none;
    overflow: hidden;
}

.topContainer{
    height: 8%;
    width: 100vw;
}

.mainContainer{
    height: 92%;
}

.topContainer h1{
    font-size: 1.5rem;
    height: min-content;
}

.left *, .right *{
    margin: auto;
}

#hamburguer{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 100px;
    height: 100%;
    margin: auto;
}

.sideBar, .sideBar *{
    transition: all 0.5s ease;
}

.sideBar{
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sideBar a{
    color: white;
    overflow: hidden;
}

.no-drag{
    user-drag: none;
}

.wrapper{
    width: 300%;
    overflow: hidden;
}

li {
    width: 100vw;
}

li:hover{
    background-color: rgb(11, 73, 166);
    z-index: -1;
}

.sideBar i{
    width: 25px !important;
    margin: 2rem;
    margin-right: 5rem;
}

.git{
    font-size: 2.3rem;
}

.sideBar span{
    font-size: 1.5rem;
    display: inline-block;
}

.contentContainer{
    height: 100%;
    grid-template-rows: 90% 10%;
    overflow: scroll;
    background-color: white;
    opacity: 100%;
    transition: all 1s ease;
}

.created{
    width: 100%;
    text-align: center;
    color: rgb(175, 175, 175);
    transition: all 0.5s ease;
}

.module{
    transition: all 0.5s ease;
    opacity: 0.5;
    display: inline-block;
    width: 30px;
    height: 30px !important;
    padding: 1px;
    /* background-color: rgb(157, 157, 157); */
    border-radius: 5px;
    /* border: 1px solid rgb(133, 133, 133); */
}

.module img{
    transition: all 0.5s ease;
    width: 100%;
    filter: grayscale(100%);
}

.module:hover{
    opacity: 1;
}

/* .module:nth-child(1):hover{
    background-color: rgb(255, 136, 85);
    border-color: rgb(226, 109, 59);
}

.module:nth-child(2):hover{
    background-color: rgb(85, 156, 255);
    border-color: rgb(45, 119, 222);
}

.module:nth-child(3):hover{
    background-color: rgb(255, 241, 85);
    border-color: rgb(224, 210, 56);
} */

.module:hover img{
    filter: grayscale(0%);
}

.footer{
    width: 100%;
    align-items: center;
}

/* FOR DEKSTOP */
@media (min-width: 990px) {

    .mainContainer{
        display: flex;
    }

    .sideBar{
        width: 100px;
        max-width: 250px;
    }

    .contentContainer{
        width: 100%;
    }

    .open{
        width: 20rem;
    }

    .open .wrapper i{
        margin-right: 2.5rem;
    }

    .desktop, .desktop *{
        display: inline;
    }

    .mobile, .mobile *{
        display: none;
    }
    
    .footer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .divisor{
        position: absolute;
        background-color: white;
        width: 75px;
        height: 4px;
        border-radius: 3px;
        margin-left: 10px;
        margin-block: -2px;
        z-index: 1000;
    }
    
    .open .divisor{
        width: 230px;
    }
}

/* FOR MOBILE */
@media (max-width: 989.99px) {

    .mainContainer{
      display: grid;
      grid-template-columns: 60px auto;
    }

    .sideBar i{
        margin: 1rem !important;
    }

    .sideBar span{
        font-size: 1rem;
    }

    .open{
        width: 250%;
        background-color: rgb(7, 87, 207);
    }

    .open .wrapper i{
        margin-right: 1rem;
    }

    .open + .contentContainer{
        opacity: 0.15;
    }
    
    .desktop, .desktop *{
        display: none;
    }

    .mobile, .mobile *{
        font-style: italic;
        display: inline;
    }

    .divisor{
        position: absolute;
        background-color: white;
        width: 40px;
        height: 2px;
        border-radius: 3px;
        margin-left: 10px;
        margin-block: -1px;
        z-index: 1000;
    }
    
    .open .divisor{
        width: 130px;
    }
}